<h1>Deserialization Test</h1>
<p>Enter in a JSON object to serialize</p>
  <div class="container">
          <form action="/insecure-deserialization/serialize" method="post">
                  <div class="form-group">
                          <label for="text">Input Text Here:</label>
                          <textarea class="form-control" name="text"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
          </form>
	  {{serialized}}
  </div>

<p>Enter in a JSON dictionary and this page will output it out</p>
  <div class="container">
          <form action="/insecure-deserialization/deserialize" method="post">
                  <div class="form-group">
                          <label for="text">Input Text Here:</label>
                          <textarea class="form-control" name="text"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
          </form>
	  {{unserialized}}
  </div>
