<h1>Cross Site Scripting Test</h1>

<div class="container">
	<form action="/xss" method="get">
		<div class="form-group">
			<label for="text">Input Text Here:</label>
			<textarea class="form-control" name="text"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	{{#if text}}
		{{text}}
		{{{text}}}
	{{/if}}
</div>
